body {
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'Maven Pro', sans-serif;*/

}

#mainsub:hover {
    background-color: darkslategrey;
    color: white;
    transition: 0.2s;
}

#mainsub {
    transition: 0.2s;
    padding-top: 5px;
    padding-bottom: 5px;

}

.dropdown-menu{
    width: -moz-calc(100%);
    width: -webkit-calc(100%);
    width: calc(100%);
}
